<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811127294947-on32ip6jg40o3k06vuc7qjqaag1kght5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811127294947-on32ip6jg40o3k06vuc7qjqaag1kght5</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Vs2qMngFLHkdkovU6i1CVFqG3muz-nU</string>
	<key>GCM_SENDER_ID</key>
	<string>811127294947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StefanusHermawanSebastian.MySocMed</string>
	<key>PROJECT_ID</key>
	<string>mysocialmedia-23c12</string>
	<key>STORAGE_BUCKET</key>
	<string>mysocialmedia-23c12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811127294947:ios:9675cc6d2b3536fbfc6ed6</string>
</dict>
</plist>